* {
    margin: 0;
}

body {
    background: linear-gradient(45deg, #d3d3d3, #a9a9a9, #808080, #696969, #000000);
    background-attachment: fixed;
    background-size: 500%;
    animation: backgroundAnimation 4s infinite ease;
}

@keyframes backgroundAnimation{
    0%,100%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
}

header {
    background-color: black;
    color: white;
    font-size: 4vw; 
    padding: 2vw;
    font-weight: bolder;
    text-align: center;
}

nav {
    background-color: rgb(117, 114, 114);
    overflow: hidden;
    box-shadow: 2px 2px 10px white;
    
}
nav a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    float: left;
    text-align: center;
    padding: 1vw 1.5vw; 
    font-size: 2vw; 
    text-decoration: none;
    transform: 90ms;
}

nav a:hover {
    background-color: yellow;
    color: black;
    border: 2px black solid;
    border-radius: 10px;
}

nav a:active {
    background-color: rgb(0, 213, 0);
    color: black;
}

.homeicon, .infoicon, .mealicon, .workouticon, .dataicon {
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.mealicon {background-image: url('/icons/meal.png');}
.homeicon { background-image: url('/icons/home.png'); }
.infoicon { background-image: url('/icons/info.png'); }
.workouticon { background-image: url('/icons/workout.png'); }
.dataicon { background-image: url('/icons/data.png'); }




.leaderboard{
    background: black;
    padding: 30px;
    margin: 20px;
    font-size: 2vw; 
    color: black;
    box-shadow: 2px 5px 5px yellow;
    border-radius: 10px;
    font-weight: bolder;
}


.custom-select {
    font-size: 2vw; 
    padding: 1vw;    
    width: 20vw;      
}


.custom-button {
    font-size: 2vw; 
    padding: 1vw;    
    width: 20vw;       
}

.leaderboard-row{
    background-color: rgb(124, 124, 124);
    border: 2px solid black; 
}
.gold {
    background-color: gold;
    border: 2px solid black;
}

.silver {
    background-color: silver;
    border: 2px solid black;
}

.bronze {
    background-color: #cd7f32;
    border: 2px solid black;
}

.leaderboard table {
    width: 100%;   
    table-layout: fixed; 
    padding: 10vw;
    border-collapse: collapse; 
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(88, 103, 240);
    border-radius: 5px;
    background-color: lightblue;
}

.leaderboard thead {
    padding: 2vw;
    text-align: center; 
    background: white;
}

.leaderboard td {
    padding: 2vw;
    text-align: center; 
}


.searchLink {
    position: relative;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background: transparent;
    font-size: 2vw;
    font-family: inherit;
  }
  
  .searchLink .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    width: 2vw; 
    height: 4vw; 
    background: #282936;
    border-radius: 1rem; 
  }
  
  .searchLink .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  .searchLink .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.5vw;
    width: 0.875vw; 
    height: 0.1vw; 
    background: none;
  }
  
  .searchLink .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.2vw;
    right: 0.05vw;
    width: 0.5vw;
    height: 0.5vw; 
    border-top: 0.1vw solid #fff;
    border-right: 0.1vw solid #fff; 
    transform: rotate(45deg);
  }


  
  
  .searchLink:hover .circle {
    width: 5vw;
    border-radius: 10vw;
  }
  
  .searchLink:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1.5vw, 0); 
  }
  
  .searchLink:hover .link_text {
    color: #ffffff;
  }
  
