* {
    margin: 0;
}

body {
    background: linear-gradient(45deg, #d3d3d3, #a9a9a9, #808080, #696969, #000000);
    background-attachment: fixed;
    background-size: 500%;
    animation: backgroundAnimation 4s infinite ease;
}

@keyframes backgroundAnimation {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

header {
    background-color: black;
    color: white;
    font-size: 4vw;
    padding: 2vw;
    font-weight: bolder;
    text-align: center;
}

nav {
    background-color: rgb(117, 114, 114);
    overflow: hidden;
    box-shadow: 2px 2px 10px white;

}

nav a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    float: left;
    text-align: center;
    padding: 1vw 1.5vw;
    font-size: 2vw;
    text-decoration: none;
    transform: 90ms;
}

nav a:hover {
    background-color: yellow;
    color: black;
    border: 2px black solid;
    border-radius: 10px;
}

nav a:active {
    background-color: rgb(0, 213, 0);
    color: black;
}

.homeicon, .infoicon, .mealicon, .workouticon, .dataicon, .leaderboardicon {
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.mealicon {background-image: url('/icons/meal.png');}
.homeicon { background-image: url('/icons/home.png'); }
.infoicon { background-image: url('/icons/info.png'); }
.workouticon { background-image: url('/icons/workout.png'); }
.dataicon { background-image: url('/icons/data.png'); }
.leaderboardicon { background-image: url('/icons/leaderboard.png'); }

.success {
    display: flex;
    justify-content: center;
    padding: 2vw;
}

.card {
    width: 200vw;
    height: 60vh;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card h2{
    z-index: 1;
    color: white;
    font-size: 6vw;
}

.card::before {
    content: '';
    position: absolute;
    width: 10vw;
    height: 130%;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}


.base {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}