<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/homepage.css">
</head>

<body>
    <header>
        Welcome <span data-th-text="${loginUser.name}"></span>
    </header>
    

    <nav>
        <a data-th-href="@{/accountInfo/{name}(name=${loginUser.name})}">Account Info
            <i class="infoicon"></i>
        </a>
        <a data-th-href="@{/meals/{name}(name=${loginUser.name})}">Add Meals
            <i class="mealicon"></i>
        </a>
        <a data-th-href="@{/workout/{name}(name=${loginUser.name})}">Add Workout
            <i class="workouticon"></i>
        </a>
        <a data-th-href="@{/datas/{name}(name=${loginUser.name})}">Past Datas
            <i class="dataicon"></i>
        </a>
        <a data-th-href="@{/leaderboard/{name}(name=${loginUser.name})}">Leaderboard
            <i class="leaderboardicon"></i>
        </a>

    </nav>
    <main class="data">

        <div data-th-if="${loginUser.percentage lt 0.5}" class="Good">
            <table class="accountInfo">
                
                <tr>
                    <td>Date: <span data-th-text="${loginUser.currentData.date}"></span> </td>
                </tr>
                <tr>
                    <td>
                        <p>Target: <span data-th-text="${loginUser.target}"></span></p> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Intake: <span data-th-text="${loginUser.currentData.intake}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Burnt: <span data-th-text="${loginUser.currentData.burnt}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Net Calories: <span data-th-text="${loginUser.currentData.net}"></span> kcal
                    </td>
                </tr>
            </table>
        </div>

        <div data-th-if="${loginUser.percentage >= 0.5 and loginUser.percentage <= 0.75}" class="Mid">
            <table class="accountInfo">
                <tr>
                    <td>Date: <span data-th-text="${loginUser.currentData.date}"></span> </td>
                </tr>
                <tr>
                    <td>
                        <p>Target: <span data-th-text="${loginUser.target}"></span></p> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Intake: <span data-th-text="${loginUser.currentData.intake}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Burnt: <span data-th-text="${loginUser.currentData.burnt}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Net Calories: <span data-th-text="${loginUser.currentData.net}"></span> kcal
                    </td>
                </tr>
            </table>
        </div>

        <div data-th-if="${loginUser.percentage gt 0.75}" class="Warn">
            <table class="accountInfo">
                <tr>
                    <td>Date: <span data-th-text="${loginUser.currentData.date}"></span> </td>
                </tr>
                <tr>
                    <td>
                        <p>Target: <span data-th-text="${loginUser.target}"></span></p> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Intake: <span data-th-text="${loginUser.currentData.intake}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Burnt: <span data-th-text="${loginUser.currentData.burnt}"></span> kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Net Calories: <span data-th-text="${loginUser.currentData.net}"></span> kcal
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <main class="data">
        <section class="meals">
            <div>
                This are the meals on <span data-th-text="${loginUser.todayDate}"></span>
            </div>
            <div data-th-if="${loginUser.meals == null or loginUser.meals.isEmpty()}"> New Account</div>
            <div data-th-if="${loginUser.meals != null and !loginUser.meals.isEmpty()}">
                <table>
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>Calories Consumed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-if="${loginUser.currentMeal == null}">
                            <td colspan="2">No meal available for today</td>
                        </tr>
                        <tr th:if="${loginUser.currentMeal != null}">
                            <tr data-th-each="meal: ${loginUser.currentMeal.meal}">
                                <td colspan="2">
                                    <strong data-th-text="${meal.key}"></strong>
                                    <table>
                                        <tbody>
                                            <tr data-th-each="food : ${meal.value}">
                                                <td data-th-text="${food.foodName}"></td>
                                                <td data-th-text="${food.formattedCalories}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </section>
        
        <section class="workouts">
            <div>
                This are the workouts on <span data-th-text="${loginUser.todayDate}"></span>
            </div>
            <div data-th-if="${loginUser.workouts == null or loginUser.workouts.isEmpty()}"> New Account</div>
            <div data-th-if="${loginUser.workouts != null and !loginUser.workouts.isEmpty()}">
                <div data-th-each="entry : ${loginUser.currentWorkout}">
                    <table>
                        <thead>
                            <tr>
                                <th>Workout</th>
                                <th>Calories Burnt</th>
                                <th>Duration</th>
                                <th>Workout Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-if="${loginUser.currentWorkout ==null}">
                                <td colspan="4" style="text-align: center;">No workout available</td>
                            </tr>
    
                            <tr data-th-if="${loginUser.currentWorkout !=null}">
                                <tr data-th-each="workout: ${loginUser.currentWorkout.workoutList}">
                                    <td><span data-th-text="${workout.name}"></span></td>
                                    <td><span data-th-text="${workout.calories}"></span> kcal</td>
                                    <td><span data-th-text="${workout.durations}"></span> minutes</td>
                                    <td><span data-th-text="${workout.type}"></span></td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
    
            </div>
        </section>
    </main>


    <section class="days">
        <div class="results-summary-container">
            <div class="confetti_left" data-th-if="${loginUser.daysLogin % 5 == 0}">
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
            </div>
            <div class="confetti_right" data-th-if="${loginUser.daysLogin % 5 == 0}">
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
            </div>
            <div class="results-summary-container__result">
                <div class="heading-tertiary">Days in a row</div>
                <div class="result-box">
                    <div class="heading-primary"><span data-th-text="${loginUser.daysLogin}"></span></div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="logout-container">
        <form action="/loginpage" method="POST" class="logoutForm">
            <button type="submit" class="logout">Logout</button>
        </form>
    </section>

    <footer class="base">
        <br>
    </footer>
</body>

</html>